<template>
     <div id="app">
        <!-- <div class="lado1"></div> -->
        <!-- separacion de lados -->
        <div class="lado2">    
                <v-container fluid fill-height>
                    <v-layout align-center justify-center>
                        <v-flex xs12 sm8 md4 lg4>
                            <v-card>
                                <v-toolbar dark color="primary">
                                    <v-toolbar-title>INGRESAR</v-toolbar-title>
                                </v-toolbar>
                                <v-card-text>
                                    <v-form>
                                    <v-text-field
                                        prepend-icon="mdi-domain"
                                        name="login"
                                        label="Login"
                                        type="number"
                                        v-model="form.ruc"
                                    ></v-text-field>
                                    <v-text-field
                                        prepend-icon="mdi-account"
                                        name="User"
                                        label="User"
                                        type="text"
                                        v-model="form.usuario"
                                    ></v-text-field>
                                    <v-text-field
                                        prepend-icon="mdi-lock"
                                        id="password"
                                        name="password"
                                        label="Password"
                                        type="password"
                                        v-model="form.clave"
                                    ></v-text-field>
                                    </v-form>
                                </v-card-text>
                                <v-card-actions>
                                    <v-spacer></v-spacer>
                                    <v-btn color="primary" @click="login()">INGRESAR</v-btn>
                                </v-card-actions>
                            </v-card>
                        </v-flex>
                    </v-layout>
                </v-container>
        </div>
     </div>
</template>
<script>
import axios from 'axios'
export default {
    data() {
        return {
            form:{
                ruc: '',
                usuario: '',
                clave: ''
            },
        }
    },
    methods: {
        login(){
            console.log(this.form)
            axios
             .post(process.env.VUE_APP_API_URL + 'login',this.form)
         .then(response=>(
           this.$store.commit('loginuser', response.data),
           this.$router.push('/')
         ))
        //  .catch(error=>(
        //    this.loading = false
        //  ))            
        },
    },
}
</script>
<style scoped>
#app{
    width: 100%;
    height: 100%;
}
.lado1{
    width: 50%;
    height: 100%;
    background-image: url('/images/mesa5.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    float: left;
}
.lado2{
    width: 100%;
    height: 100%;
    background-image: url('/images/mesa5.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    /* float: left; */

}
</style>