<template>
  <v-app>
      <router-view />
  </v-app>

</template>

<script>
export default {
  name: 'App',
  data() {
    return {
      showViews: true,
      configuration: []
    }
  },
  mounted(){
    this.authchecked();
    this.tokenExpiredCheck()
  },
  updated(){
    this.tokenExpiredCheck()
  },
  methods: {
    authchecked:  function() {
      console.log('entro',this.$store.state.user.logged)
      if(this.$store.state.user.logged===1){
        this.$router.push('/').catch(err => { console.log(err) })
      }
      else{
        this.redirectToLogin()
      }
    },
    tokenExpiredCheck: function () {
      if(this.$store.state.user.data.expire){
        let expire = this.$moment(this.$store.state.user.data.expire);
        let now = this.$moment();
          if( now > expire){
            this.$store.commit('logoutuser');
            this.redirectToLogin()
          }
      }
      else{
        this.redirectToLogin()
      }
    },
    redirectToLogin: function () {
      if(this.$route.path !== '/login')
        this.$router.push('/login').catch(err => { console.log("Error:" + err) })
    },
    sendConfiguration: function () {
      this.configuration = this.$store.getters.userPermits
    },
  },
};
</script>
